body {
  background-color: #EFFFFD;
}
.body-contact{
  background-color: #EEEEEE;
  font-style: italic;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: grey;
  width: 5%;
}

h1 {
  color: #000D6B;
}

h3 {
  color: #1597E5;
}
